@model City

@{ 
    if (Model == null)
    {
        return;
    }

    if (Model.Children == null)
    {
        return;
    }
    int[] selected = ViewBag.CityIds;
}

@foreach(var item in Model.Children)
{
    <option value="@(item.ID)" @(selected!=null&&selected.Any(e=>e==item.ID)?"selected=selected":"")>@(item.Name)-@(Model.ParentName)</option>
    if (item.Children != null)
    {
        item.ParentName = item.Name + "-" + Model.ParentName;
        Html.RenderPartial("SelectCity", item as object);
    }
}
