# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/LoowooTech.iPadManagerSystem/bin
/LoowooTech.iPadManagerSystem/obj
/packages
/LoowooTech.Managers/bin
/LoowooTech.Managers/obj
/LoowooTech.Models/bin
/LoowooTech.Models/obj
/LoowooTech.Common/bin
/LoowooTech.Common/obj
/LoowooTech.Offical.Web/bin
/LoowooTech.Offical.Web/obj
/LoowooTech.Offical.Web/FILES
/LoowooTech.Officel.Internal.API
/LoowooTech.Officel.internal.Web