
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section ButtonHead{
    @RenderSection("ButtonHead", false)
}

@section Description{
    @RenderSection("Description", false)
}

@section navigation{
    <li>
    <a href="#"><i class="fa fa-gears"></i><span class="nav-label">系统管理</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="/Admin/User/Index">人员管理</a></li>
        <li><a href="/Admin/Group/Index">部门管理</a></li>
        <li><a href="/Admin/City/Index">城市管理</a></li>
        <li><a href="/Admin/Company/Index">单位管理</a></li>
        <li><a href="/Admin/ProjectType/Index">项目类型管理</a></li>
        <li><a href="/Admin/Flow/Index">流程管理</a></li>
        <li><a href="/Admin/Category/Index">日常类别管理</a></li>
        <li><a href="/Admin/LWSystem/Index">子系统管理</a></li>
    </ul>
</li>
    }

@RenderBody()




