
@{
    ViewBag.Title = "录入出差详情";
    Layout = "~/Areas/Expense/Views/Shared/_Layout.cshtml";
    Sheet sheet = ViewBag.Sheet;
  
}



@section Description{
    完善报销信息！出差详情
    }

<script>
    $(function () {
        $(".select2-city").select2({
            placeholder: "选择出差城市",
            allowClear:true
        });

        $(".i-checks").iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });


        $("form[name='form-evection']").submit(function () {
            LWSubmit("form[name='form-evection']");
            return false;
        });
    });
</script>

<div class="row">
 
    <form class="form-horizontal" method="post" action="/Expense/Evection/Save" Url="/Expense/Evection/Detail?SheetId=@(sheet.ID)" name="form-evection">
        <div class="row">
            <div class="col-sm-8">
                <input type="hidden" name="SheetId" value="@(sheet.ID)" />
                @{ 
                    Html.RenderPartial("_CreateEvection", sheet.Evection as object);
                }
                
                @{
                    if (sheet.Evection != null)
                    {
                        Html.RenderPartial("_CreateErrand", sheet.Evection.Errands as object);
                    }
                    else
                    {
                        Html.RenderPartial("_CreateErrand");
                    }

                }
                @{
                    if (sheet.Evection != null)
                    {
                        Html.RenderPartial("_CreateTraffic", sheet.Evection.Traffics as object);
                    }
                    else
                    {
                        Html.RenderPartial("_CreateTraffic");
                    }
                }


            </div>
            <div class="col-sm-4">
                @{
                    Html.RenderPartial("_showSheet", sheet as object);
                }
                <div class="hr-line-dashed"></div>
                <div class="wrapper wrapper-content project-manager">
                    <dl class="dl-horizontal">
                        <dt>本次报销金额：</dt>
                        <dd>
                            <div class="input-group">
                                <input type="text" name="" class="form-control" readonly />
                                <span class="input-group-addon">元</span>
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" type="button" name="Calculator"><i class="fa fa-calculator"></i></button>
                                </div>
                            </div>
                            
                        </dd>
                    </dl>
                    <div class="text-center m-t-md">
                        @*<a href="" class="btn btn-primary"><i class="fa fa-arrow-up"></i>提交</a>*@
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>保存</button>
                        <button type="button" class="btn btn-default" onclick="history.back()"><i class="fa fa-arrow-left"></i>返回</button>
                    </div>
                </div>
            </div>
        </div>

       
        
    </form>


</div>



