@{ 
    Layout = null;
    List<Tablet> list = ViewBag.List;
    TabletParameter parameter = ViewBag.Parameter;
}

<div class="widget-head-color-box lazur-bg text-center p-lg">
    <div class="m-b-md">
        <a href="/Tablets/Tablet/Index" class="btn btn-info"><h2 class="font-bold no-margins">平板信息</h2></a>
        <p><small>平板信息记录</small></p>
    </div>
    <i class="fa fa-tablet fa-5x"></i>
    <div>
        <span>平板数量：@(parameter.Page.RecordCount)</span>
        <span><a href="/Tablets/Tablet/Index" class="btn btn-info font-bold">详情</a></span>
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <h5>平板信息列表</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <ul class="list-group">
            @foreach(var item in list)
            {
                <li class="list-group-item">
                   <a href="/Tablets/Tablet/Detail?id=@(item.ID)">@(item.Title)</a> -@(item.Type.Title) 
                    @if (item.IsNew)
                    {
                        <span class="label label-warning pull-right">NEW</span>
                    }
                  
                </li>
            }
        </ul>
    </div>
</div>