@{ 
    Layout = null;
    List<Sheet> list = ViewBag.List;
}

<table class="footable table table-striped toggle-arrow-tiny">
    <thead>
        <tr>
            <th data-toggle="true">报销单位</th>
            <th>填报时间</th>
            <th>发票张数</th>
            <th>报销金额</th>
            <th>查看</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in list)
        {
            <tr>
                <td>
                    <a href="/Expense/Reception/Detail?SheetId=@(item.ID)">@(item.Company.Name)</a>
                </td>
                <td>@(item.Time.ToLongDateString())</td>
                <td>@(item.Count)</td>
                <td></td>
                <td>
                    <a href="" class="btn btn-primary btn-xs"><i class="fa fa-"</a>
                </td>
            </tr>
        }
    </tbody>
</table>