@{ 
    Layout = null;

}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">使用登记扫描件</h4>
</div>


<form class="form-horizontal" method="post" action="/Tablets/Record/SaveFile" enctype="multipart/form-data">
    <div class="modal-body">
        <input type="hidden" name="RecordId" value="@(Request.QueryString["ID"])" />
        @{ 
            Html.RenderPartial("FormGroupFile");
        }
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> 取消</button>
    </div>
</form>

