
@{
    ViewBag.Title = "报销系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Description{
    欢迎登录报销系统！
    }

@section ButtonHead{
    <div class="title-action">
        <a href="/Expense/Home/Create" class="btn btn-primary"><i class="fa fa-plus-square"></i>报销</a>
    </div>
    }

