
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<script>
        $(function () {
            $("#form-user").submit(function () {
                var $btn = $("#form-user button[type='submit']");
                $btn.attr("disabled", "disabled");
                var data = $(this).serialize();
                $.request("/user/login", data, function (json) {
                    if (json.result === 1) {
                        location.href = "/Home/Index";
                    } else if (json.result === 2) {
                        swal({
                            title: "第一次登录系统",
                            text: "您第一次登录系统，需设置您的密码！",
                            type:"warning"
                        }, function () {
                            location.href = "/User/Password?id=" + json.data;
                        })
                        
                    }
                    else {
                        swal("登录失败", json.content, "error");
                        $btn.removeAttr("disabled");
                    }
                });

                return false;
            });
        });
</script>

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">OA</h1>
        </div>
        <h3>Welcome to Office Automation</h3>
        <p></p>
        <form class="m-t" role="form" action="/User/Login" id="form-user">
            <div class="form-group">
                <input type="text" name="LoginName" class="form-control" placeholder="LoginName" required />
            </div>
            <div class="form-group">
                <input type="password" name="Password" class="form-control" placeholder="PassWord" />
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            <a href="#"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="/user/Register">Create an account</a>
        </form>
        <p class="m-t"> <small>Hangzhou Loowoo Tech Co.,Ltd. &copy; @(DateTime.Now.Year)</small> </p>
    </div>
</div>

