
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    User user = ViewBag.User;
}

<script >
    $(function () {
        $("#form-Password").submit(function () {
            var $btn = $("#form-Password button");
            $btn.attr("disabled", "disabled");
            var data = $(this).serialize();
            $.request("/user/Password", data, function (json) {
                if (json.result == 1) {
                    swal({
                        title: "成功设置密码",
                        text: "成功设置密码，点击确定完成设置！即将重新登录系统",
                        type: "success"
                    }, function () {
                        location.href = "/User/Login";
                    });
                } else {
                    swal("设置密码失败", json.content, "error");
                    $btn.removeAttr("disabled", "disabled");
                }
            });

            return false;
        });
    });
</script>

<div class="passwordBox animated fadeInDown">
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox-content">
                <h2 class="font-bold">设置密码</h2>
                <div class="row">
                    <div class="col-xs-12">
                        <form class="m-t" role="form" action="" id="form-Password">
                            
                            @if (user != null)
                            {
                                <input type="hidden" name="ID" value="@(user.ID)" />
                                if (!string.IsNullOrEmpty(user.Password))
                                {
                                    <div class="form-group">
                                        <input type="password" name="OldPassword" class="form-control" placeholder="原始密码" required />
                                    </div>
                                }

                            }
                            <div class="form-group">
                                <input type="password" name="NewPassword" class="form-control" placeholder="新密码" required />
                            </div>
                            <div class="form-group">
                                <input type="password" name="RePassword" class="form-control" placeholder="确认密码" required />
                            </div>
                            <button type="submit" class="btn btn-primary block full-width m-b">设置</button>
                            <button type="button" class="btn btn-white block full-width m-b" onclick="history.back()">返回</button>
                        </form>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</div>

