@using LoowooTech.iPadManagerSystem.Models
@{
    Layout = null;
}

<script>
    $(function () {
        $("#Contact-form").submit(function () {
            var node = $("#Contact-form button[type='submit']");
            node.text("正在保存......").attr("disabled", "disabled");
            ShowMessage("正在保存联系人，请稍等......");
            var data = $(this).serialize();
            $.request("/iPad/SaveContact", data, function (json) {
                if (json.result == 0) {
                    ShowErrorMessage(json.content);
                } else {
                    ShowSuccessMessage("成功保存联系人，正在刷新，请稍等......");
                    location.href = "/iPad/Index?category=@(iPadCategory.Contact)";
                }
            });
            return false;
        });
    });
</script>


<h3 class="text-center">创建新的联系人</h3>
<div class="alert alert-warning" role="alert" name="Message" style="display:none">
    <i class="icon-spin icon-spinner icon-large"></i>
    <span></span>
</div>

<hr />


<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" method="post" action="" id="Contact-form">
            <div class="form-group">
                <label class="control-label col-md-3">姓名：</label>
                <div class="col-md-8">
                    <input type="text" name="Name" class="form-control" placeholder="姓名" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">单位：</label>
                <div class="col-md-8">
                    <input type="text" name="Department" class="form-control" placeholder="单位" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">所属城市：</label>
                <div class="col-md-8">
                    <input type="text" name="City" class="form-control" placeholder="所属城市" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">地址：</label>
                <div class="col-md-8">
                    <input type="text" name="Address" class="form-control" placeholder="地址" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">联系电话：</label>
                <div class="col-md-8">
                    <input type="text" name="Phone" class="form-control" placeholder="联系电话" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">QQ：</label>
                <div class="col-md-8">
                    <input type="text" name="QQ" class="form-control" placeholder="QQ" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">职位：</label>
                <div class="col-md-8">
                    <input type="text" name="Position" class="form-control" placeholder="职位" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">科室：</label>
                <div class="col-md-8">
                    <input type="text" name="Section_Office" class="form-control" placeholder="科室" />
                    <input type="hidden" name="Creator" value="@(ViewBag.Identity.Name)" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>确定</button>
                </div>
            </div>
        </form>
    </div>
</div>