@using LoowooTech.iPadManagerSystem.Models
<script src="~/Scripts/Contract.js"></script>
@{
    ViewBag.Title = "录入合同";
    Layout = null;
    List<iPad> list = ViewBag.List;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">录入合同</h3>
<form class="form-horizontal" method="post" action="/iPad/SaveContract" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <label class="control-label col-md-4">合同名称【必填】：</label>
                <div class="col-md-7">
                    <input type="text" name="Name" class="form-control" placeholder="合同名称" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">合同登记编号【选填】：</label>
                <div class="col-md-7">
                    <input type="text" name="Number" class="form-control" placeholder="合同登记编号" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">委托方（甲方）【必填】：</label>
                <div class="col-md-7">
                    <input type="text" name="PartA" class="form-control" placeholder="委托方（甲方）" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">开发方（乙方）【必填】：</label>
                <div class="col-md-7">
                    <input type="text" name="PartB" class="form-control" placeholder="开放方（乙方）" value="杭州陆吾科技信息咨询有限公司" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">签订地点【选填】：</label>
                <div class="col-md-7">
                    <input type="text" name="Place" class="form-control" placeholder="签订地点" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">签订时间【选填】：</label>
                <div class="col-md-7">
                    <input type="text" name="Time" class="form-control datetimepicker" placeholder="签订时间" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">有效期【选填】：</label>
                <div class="col-md-7">
                    <div class="input-group">
                        <input type="text" name="StartTime" class="form-control datetimepicker" placeholder="起始时间" readonly="readonly" />
                        <span class="input-group-addon">至</span>
                        <input type="text" name="EndTime" class="form-control datetimepicker" placeholder="结束时间" readonly="readonly" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">扫描件【必填】：</label>
                <div class="col-md-7">
                    <input type="file" name="File" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">项目平板【选填】：</label>
                <div class="col-md-7">
                    @foreach (var ipad in list)
                    {
                        <label class="checkbox-inline">
                            <input type="checkbox" name="iPadID" value="@(ipad.ID)" />@(ipad.Name)
                        </label>
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7 col-md-offset-4">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>录入</button>
                </div>
            </div>
        </div>
    </div>
</form>

