
@{
    ViewBag.Title = "项目系统-欢迎页";
    Layout = "~/Areas/Project/Views/Shared/_Layout.cshtml";
}
@section Description{
    
    }

@section ButtonHead{
    <div class="title-action">
        <a href="/Project/Home/Search" class="btn btn-success"><i class="fa fa-search"></i>查询</a>
        <a href="/Project/Home/Create" class="btn btn-primary"><i class="fa fa-plus-square"></i>新建项目</a>
    </div>
    }


<div class="row">
    <div class="col-xs-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5>新录项目</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                @{ 
                    Html.RenderAction("Recent", "Home", new { UserId = Identity.UserId });
                }
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5>公司新录项目</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                @{ 
                    Html.RenderAction("Recent", "Home");
                }
            </div>
        </div>
    </div>
</div>