
@{
    ViewBag.Title = "项目系统-欢迎页";
    Layout = "~/Areas/Project/Views/Shared/_Layout.cshtml";
}
@section Description{
    
    }

@section ButtonHead{
    <div class="title-action">
        <a href="/Project/Home/Search" class="btn btn-success"><i class="fa fa-search"></i>查询</a>
        <a href="/Project/Home/Create" class="btn btn-primary"><i class="fa fa-plus-square"></i>新建项目</a>
    </div>
    }

