
@{
    ViewBag.Title = "发票";
    Layout = "~/Areas/Voucher/Views/Shared/_Layout.cshtml";
}

@section Description{
    
    }

@section ButtonHead{
    
    <div class="title-action">
        <a href="" class="btn btn-primary"><i class="fa fa-plus"></i>录入发票</a>
    </div>

    }
